<div class="container gx-0 justify-content-center">
  <div class="row gx-0">
    <div class="task-hearder col-12 background-white default-border-radius defult-shadow d-flex justify-content-between align-items-center">
      <h1>Tasks</h1>
      <div ngbDropdown class="dropdown">
        <button class="btn-icon" ngbDropdownToggle id="dropdownMenuButton1" aria-expanded="false">
          <i class="bi bi-three-dots-vertical icon-menu"></i>
        </button>

        <ul ngbDropdownMenu aria-labelledby="dropdownMenuButton1">
          <li><button ngbDropdownItem (click)="deleteAllTasks()">Delete All Tasks</button></li>
        </ul>
      </div>
    </div>

    <div class="col-12" *ngFor="let task of listTasks">
      <app-task [task]="task"  (listenCompleteTask)="completeTask($event)" (listenDeleteTask)="deleteTask($event)" (listenEditTask)="editTask($event)" (listDownTask)="downTaskPosition($event)" (listenUpTask)="upTaskPosition($event)"></app-task>
    </div>

    <div class="col-12 mg-top-20 task-title">
      <button class="btn-add-task default-border-radius defult-shadow" data-bs-toggle="modal" data-bs-target="#modalAdd">
        <i class="bi bi-plus-circle-fill"></i>
        <span class="mg-left-12">
          Add Task
        </span>
      </button>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalAdd" #modalAdd tabindex="-1" aria-labelledby="modalAdd" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalAddLabel">Add a new task</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <form [formGroup]="formAdd">
          <div class="mb-3">
            <label for="recipientName" class="col-form-label">Task Name:</label>
            <input type="text" formControlName="taskNameInput" class="form-control" id="recipientName" name="recipientName" #addInput>
          </div>
        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" #cancelButtonAdd>Cancel</button>
        <button type="button" class="btn btn-primary" (click)="addTask()">Add Task</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" #modalEdit id="modalEdit" tabindex="-1" aria-labelledby="modalAdd" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalEditLabel">Edit a task</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <form [formGroup]="formEdit">
          <div class="mb-3">
            <label for="recipientNameEdit" class="col-form-label">Task Name:</label>
            <input formControlName="taskNameEditInput" type="text" class="form-control" id="recipientNameEdit" #editInput>
          </div>
        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" #cancelButtonEdit>Cancel</button>
        <button type="button" class="btn btn-primary" (click)="confirmEdit()">Update Task</button>
      </div>
    </div>
  </div>
</div>
