<div class="container gx-0 justify-content-center">
  <div class="row gx-0">
    <div class="task-hearder col-12 background-white default-border-radius defult-shadow d-flex justify-content-between align-items-center">
      <h1>Tasks</h1>
      <button class="btn-icon">
        <span class="material-symbols-rounded icon-menu">
          more_vert
        </span>
      </button>
    </div>

    <div class="col-12" *ngFor="let task of listTasks">
      <app-task [task]="task"  (listenCompleteTask)="completeTask($event)"></app-task>
    </div>

    <div class="col-12 mg-top-20 task-title">
      <button class="btn-add-task default-border-radius defult-shadow" data-bs-toggle="modal" data-bs-target="#exampleModal">
        <span class="material-symbols-rounded">
          add
        </span>
        Add Task
      </button>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <form>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Task Name:</label>
            <input type="text" class="form-control" id="recipient-name">
          </div>
        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" #cancelButton>Cancel</button>
        <button type="button" class="btn btn-primary" (click)="addTask()">Add Task</button>
      </div>
    </div>
  </div>
</div>
