.btn-pomodoro{
  background-color: transparent;
  padding: 4px 8px;
  border: none;
  font: normal 700 20px 'Lato';
  color: var(--primary-900);
}

.btn-pomodoro:disabled{
  color: var(--primary-400);
}

.btn-pomodoro-hover:hover, .btn-selected{
  background-color: var(--primary-50);
}

.card-padding{
  padding: 32px;
}
