<div class="background-white d-flex flex-column default-border-radius card-padding">
  <div class="d-flex">
    <span>
      <button class="btn-pomodoro mg-right-20 default-border-radius">Pomodoro</button>
    </span>
    <span>
      <button class="btn-pomodoro mg-right-20 default-border-radius">Short break</button>
    </span>
    <span>
      <button class="btn-pomodoro default-border-radius">Long break</button>
    </span>
  </div>
  <div class="d-flex align-items-center justify-content-center mg-top-32">
    <app-timer></app-timer>
  </div>
</div>
