<div class="d-flex background-darker progress-background align-items-center justify-content-center"
     [ngStyle]="{'background': 'conic-gradient(var(--primary-900) ' + percentComplete + '%, var(--primary-50) 0deg)'}">
  <div class="d-flex background-white progress-foreground align-items-center justify-content-center">
    <time class="timer-numbers">{{minutes}}:{{seconds}}</time>
  </div>
</div>

<button (click)="startPause()" class="btn-start mg-top-32" [innerText]="timerRunning?'pause': 'start'"></button>
