<div class="d-flex align-items-center justify-content-center mg-top-32">
  <div class="d-flex background-darker progress-background align-items-center justify-content-center"
       [ngStyle]="{'background': 'conic-gradient(var(--primary-900) ' + getProgressPercent() + '%, var(--primary-50) 0deg)'}">
    <div class="d-flex background-white progress-foreground align-items-center justify-content-center">
      <time class="timer-numbers">{{printTime()}}</time>
    </div>
  </div>
</div>

<div class="d-flex justify-content-center mg-top-32">
  <button (click)="restart()" class="btn-system">
    <i class="bi bi-arrow-clockwise bi-1x"></i>
  </button>
  <button (click)="startPause()" class="btn-system btn-start" [innerText]="timerRunning?'pause': 'start'"></button>

  <button class="btn-system" (click)="nextPomodoro()">
    <i class="bi bi-skip-end-fill"></i>
  </button>
</div>
