<header class="container-fluid background-darker white-font-color padding-header">
  <nav class="container">
    <div class="row align-items-center">
      <div class="col-6">
        <a class="font-logo font-medium link-logo">My Pomodoro</a>
      </div>
      <div class="col-6">
        <div class="d-flex justify-content-end align-items-center">
          <button class="font-medium btn-settings d-flex align-items-center">
            <span class="material-symbols-outlined">settings</span>
            <span class="btn-text">Settings</span>
          </button>
        </div>
      </div>
    </div>
  </nav>
</header>
