@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');


:root{
  --primary-900: #410D76;
  --primary-50: #E0C8F9;
  --font-default: 'Lato', sans-serif;
}

h1 {
  font-family: var(--font-default);
  color: var(--primary-900);
  font-size: 1.5em;
  font-weight: bold;
  margin: 0px;
}

body {
  background-color: #F5EBFF;
}

.background-darker {
  background-color: #410D76;
}

.background-white{
  background-color: white;
}

.white-font-color {
  color: white;
}

.font-medium{
  font-family: var(--font-default);
  font-weight: 700;
}

.default-border-radius{
  border-radius: 8px;
}

.mg-right-20{
  margin-right: 20px;
}

.mg-top-20{
  margin-top: 20px;
}

.mg-top-32{
  margin-top: 32px;
}

.btn-system{
  background: linear-gradient(to bottom, #5B12A3, #410D76);
  color: white;
  font-family: var(--font-default);
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 3.6px;
  border: none;
  border-radius: 8px;
  text-transform: uppercase;
  padding: 4px 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-system:hover{
  background: linear-gradient(to bottom, #551199, #390b66);
  color: #e6e6e6;
}
