@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

body {
  background-color: #F5EBFF;
}

.background-darker {
  background-color: #410D76;
}

.white-font-color {
  color: white;
}

.font-medium{
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}

